/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/********************
RESET SOME QUIRKS
********************/
// first p wraps site-title and may create a weirdo gap
p, h1, h2, h3, h4, h5, ul, ol {
  margin: 0;
}

/********************
CLEARFIX
********************/
//http://www.jqui.net/tips-tricks/css-clearfix/
.clearfix:after { 
  content: "\00A0";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix{
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix{
  height: 1%;
}
.clearfix {
  display: block
}


/*********************
BODY STYLES
*********************/

body {
  font-family: $sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/


/*********************
LAYOUT & GRID STYLES
*********************/


/*********************
HEADER STYLES
*********************/


/*********************
NAVIGATION STYLES
*********************/


/*********************
CONTENT STYLES
*********************/

main {
  ul, ol {
    list-style-position: inside;
    ul, ol {
      padding-left: 1em;
    }
  }
  ul {
    list-style-type: square;
    ul {
      list-style-type: disc;
      ul {
        list-style-type: circle;
      }
    }
  }
  ol {
    list-style-type: decimal;
    ol {
      list-style-type: lower-latin;
      ol {
        list-style-type: lower-roman;
      }
    }
  }
  
  /*
  image alignment on a screen this size may be
  a bit difficult. It's set to start aligning
  and floating images at the 768px breakpoint,
  but it's up to you. Feel free to change it up.
  */
  .alignleft,
  .alignright,
  .aligncenter,
  .alignnone {
    max-width: 100%;
    display: block;
    clear: both;
  }
}

/*********************
PAGE NAVI STYLES
*********************/


/*********************
COMMENT STYLES
*********************/


/*********************
COMMENT FORM STYLES
*********************/


/*********************
SIDEBARS & ASIDES
*********************/


/*********************
FOOTER STYLES
*********************/


/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
  .date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
  .search-results {}              /* search result page */
  .search-no-results {}           /* no results search page */
  .search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
  .postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
  .single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
  .attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
  .attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
  .author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
  .author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
  .category-1 {}                  /* individual category page (i.e. body.category-6) */
  .category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
  .tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
  .tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
  .page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
  .page-paged-1 {}                /* replace the number to the corresponding page number */
  .page-parent {}                 /* parent page template */
  .page-child {}                  /* child page template */
  .parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
  .paged-1 {}                     /* individual paged (i.e. body.paged-3) */

